.about {
    display: flex;
    background-color: $color-gray-light;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 90px;
    padding-right: 95px;
    align-items: center;
    
    
    &-description__title {
        margin: 20px 40px 56px 0;
        padding: 0 20px;
        font-family: $font-header;
        color: $color-main;
        font-size: 40px;
        letter-spacing: 5px;
    }
    &-description__text {
        font-size: 18px;
        letter-spacing: 1.4px;
        margin: 20px 40px 20px 0;
        padding: 0 20px;
    }
    &-description__image {
        max-height: 480px;
        margin: 0 0 0 40px;
    }
    &-description__wrapper {
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 2px;
            height: 200px;
            background-color: $color-gray;
            opacity: 0.1;
            position: absolute;
            top: 100px;
        }
    }
}
