/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

/* xl */
/* lg */
/* md */
/* sm */
/* xs */
.header-menu__container, .about__container, .form__container, .posts__container, .footer__container {
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-y: scroll;
  color: #637588;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.2em;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.btn {
  display: block;
  height: 60px;
  padding: 18px 20px;
  text-align: center;
  font-size: 1.125rem;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 250px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn.-style__viewall {
  border: 2px solid #2d3651;
  background-color: rgba(45, 54, 81, 0.8);
  min-width: 350px;
}

.btn.-style__form {
  color: #ffffff;
}

.btn.-style__form:hover {
  border: 2px solid #e5e5e5;
}

.btn:hover {
  background-color: #d66926;
}

.header {
  position: relative;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  min-height: 100vh;
  background-color: #2d3651;
  color: #ffffff;
  background-image: url(../img/img-header.png);
  background-position: 50% 50%;
  background-size: cover;
}

.header-overlay {
  background-color: #2d3651;
  opacity: 0.8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-menu {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}

.header-menu__container {
  display: grid;
  grid-template-columns: auto 1fr;
}

.header-logo {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.5rem;
  letter-spacing: 0.22em;
}

.header-logo__link {
  display: block;
  padding: 20px 20px 20px 0;
}

.header-logo__accent {
  display: inline-block;
  border: 3px solid #d53d27;
  margin-right: 4px;
  padding: 14px 1px 13px 5px;
}

.header-navbar {
  position: relative;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: end;
  letter-spacing: 0.1em;
}

.header-navbar__hamburger {
  width: 30px;
  height: 22.5px;
  position: relative;
  margin: 20px 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.header-navbar__hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header-navbar__hamburger span:nth-child(1) {
  top: 0px;
}

.header-navbar__hamburger span:nth-child(2), .header-navbar__hamburger span:nth-child(3) {
  top: 9px;
}

.header-navbar__hamburger span:nth-child(4) {
  top: 18px;
}

.header-navbar__hamburger.active span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.header-navbar__hamburger.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-navbar__hamburger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-navbar__hamburger.active span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.header-navbar__list {
  list-style: none;
  margin: 0 -20px 0 0;
  padding: 0;
}

.header-navbar__list.active {
  display: block;
}

.header-navbar__link {
  display: block;
  padding: 20px;
  font-size: 1.125rem;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.header-navbar__link:hover, .header-navbar__link:focus {
  color: #d66926;
}

.header-content {
  position: relative;
}

.header-content__title {
  letter-spacing: 0.08em;
  text-align: center;
}

.header-content__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content__container {
  padding: 0 20px;
}

.skills {
  padding: 10px 10px 40px;
}

.skills__container {
  padding: 0 0 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'a1 a1 a2 a3' 'a4 a5 a5 a6' 'a7 a8 a9 a6';
}

.skill-item {
  position: relative;
  min-height: calc(33vh - 10.5px);
  background-color: #2d3651;
  overflow: hidden;
}

.skill-item:nth-of-type(1) {
  grid-area: a1;
}

.skill-item:nth-of-type(2) {
  grid-area: a2;
}

.skill-item:nth-of-type(3) {
  grid-area: a3;
}

.skill-item:nth-of-type(4) {
  grid-area: a4;
}

.skill-item:nth-of-type(5) {
  grid-area: a5;
}

.skill-item:nth-of-type(6) {
  grid-area: a6;
}

.skill-item:nth-of-type(7) {
  grid-area: a7;
}

.skill-item:nth-of-type(8) {
  grid-area: a8;
}

.skill-item:nth-of-type(9) {
  grid-area: a9;
}

.skill-item__overlay {
  background-color: #2d3651;
  opacity: 0.8;
  z-index: 1;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.skill-item__image {
  background-size: cover;
  background-position: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.skill-item__title {
  margin: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.skill-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 18px;
  letter-spacing: 2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.skill-item:hover .skill-item__overlay {
  opacity: 0.95 !important;
}

.skill-item:hover .skill-item__image {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.skill-item:hover .skill-item__link {
  color: #d66926;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e5e5e5;
  padding: 100px 0;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 271px;
  grid-gap: 100px;
}

.about__title {
  font-family: "Roboto Slab", serif;
  color: #2d3651;
  font-size: 40px;
  margin: 0 0 56px;
  letter-spacing: 2px;
}

.about__text {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.about__text:first-of-type {
  position: relative;
  margin-top: -5px;
}

.about__text:first-of-type::after {
  position: absolute;
  top: 0;
  right: -50px;
  width: 2px;
  height: 200px;
  content: "";
  background-color: rgba(99, 117, 136, 0.1);
}

.about__wrapperimage {
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
}

.about__wrapperimage img {
  max-width: 100%;
  max-height: 480px;
  margin-top: 20px;
}

.form {
  padding: 30px 0;
  background-color: #2d3651;
}

.form__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.form-item {
  display: block;
}

.form-item .btn-form {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1px 20px;
  color: #e5e5e5;
  font-size: 18px;
  letter-spacing: 2px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: #637588;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.form-item__input {
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1px 20px;
  font-size: 18px;
  letter-spacing: 2px;
  color: #e5e5e5;
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom-color: #637588;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.form-item__input::-webkit-input-placeholder {
  color: #637588;
  letter-spacing: 2px;
}

.form-item__input::-moz-placeholder {
  color: #637588;
  letter-spacing: 2px;
}

.form-item__input:-ms-input-placeholder {
  color: #637588;
  letter-spacing: 2px;
}

.form-item__input::-ms-input-placeholder {
  color: #637588;
  letter-spacing: 2px;
}

.form-item__input::placeholder {
  color: #637588;
  letter-spacing: 2px;
}

.form-item__input:hover {
  border-color: rgba(255, 255, 255, 0.15);
  border-bottom-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
}

.form-item__input:hover::-webkit-input-placeholder {
  color: #8c9bab;
}

.form-item__input:hover::-moz-placeholder {
  color: #8c9bab;
}

.form-item__input:hover:-ms-input-placeholder {
  color: #8c9bab;
}

.form-item__input:hover::-ms-input-placeholder {
  color: #8c9bab;
}

.form-item__input:hover::placeholder {
  color: #8c9bab;
}

.btn-form:hover {
  border: 2px solid #e5e5e5;
  background-color: #d66926;
}

.posts-title {
  margin: 60px 0 40px;
  font-family: "Roboto Slab", serif;
  color: #2d3651;
  font-size: 40px;
  letter-spacing: 5px;
}

.posts {
  padding-bottom: 40px;
}

.posts__grid {
  display: grid;
  padding: 0 0 20px;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'p1 p1 p2 p3' 'p4 p5 p6 p6';
}

.posts-item {
  position: relative;
  background-color: #e5e5e5;
  overflow: hidden;
}

.posts-item:nth-of-type(1) {
  grid-area: p1;
}

.posts-item:nth-of-type(2) {
  grid-area: p2;
}

.posts-item:nth-of-type(3) {
  grid-area: p3;
}

.posts-item:nth-of-type(4) {
  grid-area: p4;
}

.posts-item:nth-of-type(5) {
  grid-area: p5;
}

.posts-item:nth-of-type(6) {
  grid-area: p6;
}

.posts-item__link {
  display: grid;
  overflow: hidden;
  height: 100%;
  grid-template-rows: 300px 1fr;
}

.posts-item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  height: 300px;
  background-size: cover;
  background-position: 50% 50%;
}

.posts-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.posts-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #44596e;
  letter-spacing: 0.05em;
  text-align: center;
  padding: 20px;
}

.posts-item:hover .posts-item__image img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  padding: 50px 20px 70px;
  text-align: center;
  background-color: #2d3651;
}

.footer__social {
  display: grid;
  position: relative;
  margin-bottom: 40px;
  grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__social::after {
  content: '';
  display: block;
  width: 80px;
  height: 2px;
  background-color: white;
  opacity: 0.1;
  position: absolute;
  top: 60px;
  left: calc(50% - 40px);
}

.footer__social .fab {
  font-size: 36px;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.footer__social .fab:hover, .footer__social .fab:focus {
  color: #d66926;
}

.footer__social .a {
  display: block;
  padding: 10px;
}

.footer__logo span:nth-of-type(1) {
  margin-right: -0.5em;
  letter-spacing: 0.33em;
  font-weight: 100;
}

.footer__logo span:nth-of-type(2) {
  letter-spacing: 0.05em;
  color: #e5e5e5;
  font-weight: 700;
}

@media all and (min-width: 576px) {
  .header-content__buttons .btn:first-of-type {
    margin-right: 20px;
  }
}

@media (min-height: 691px) {
  .skill-item {
    min-height: calc(251px - 20px * 0.66);
  }
}

@media (min-width: 768px) {
  .header-navbar__hamburger {
    display: none;
  }
  .header-navbar__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    width: 100%;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3.75rem;
  }
  .header-content__title {
    margin: 0 0 53px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .skills__container {
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
  }
  .posts__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'p1 p1 p2' 'p3 p4 p4' 'p5 p5 p6';
  }
}

@media (max-width: 991.8px) {
  .header-content__title {
    margin: 0 0 43px;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  .btn.-style__header {
    min-width: 200px;
    height: 50px;
    padding: 14px 20px;
    font-size: 16px;
  }
  .about__title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .posts-title {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  .skills__container {
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
  }
  .form__container {
    grid-template-columns: 1fr 1fr;
  }
  .posts__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'p1 p2' 'p3 p4' 'p5 p6';
  }
}

@media (max-width: 767.8px) {
  h1 {
    font-size: 1.875rem;
  }
  .header-menu {
    background-color: rgba(68, 89, 110, 0.25);
  }
  .header-navbar__list {
    display: none;
    position: absolute;
    background-color: rgba(68, 89, 110, 0.9);
    top: 100%;
    right: 20px;
    text-align: right;
  }
  .about {
    padding: 60px 0;
  }
  .posts-title {
    font-size: 24px;
    margin-bottom: 36px;
    letter-spacing: 3px;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .btn-wrapper {
    padding: 0 0 20px;
  }
  .btn.-style__header {
    min-width: 170px;
    height: 40px;
    padding: 10px 20px;
    font-size: 16px;
    letter-spacing: 0.05em;
  }
  .about__container {
    grid-gap: 20px;
    grid-template-columns: 1fr 236px;
  }
  .about__title {
    font-size: 24px;
    margin-bottom: 36px;
  }
  .about__text:first-of-type::after {
    right: -10px;
  }
  .form-item .btn-form {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .form-item:nth-of-type(1) {
    grid-column: 1 / span 2;
  }
  .posts-item__info {
    padding: 40px 20px;
  }
}

@media (max-height: 690px) {
  .skill-item {
    min-height: calc(230px - 20px * 0.66);
  }
}

@media (max-width: 576px) {
  .skills__container {
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
  }
  .form__container {
    grid-template-columns: 1fr;
  }
  .posts__grid {
    grid-template-columns: 1fr;
    grid-template-areas: 'p1' 'p2' 'p3' 'p4' 'p5' 'p6';
  }
}

@media (max-width: 575.8px) {
  .btn-wrapper {
    padding: 0;
  }
  .btn.-style__viewall {
    margin: 0;
    min-width: 100%;
    height: 60px;
    font-size: 18px;
    padding: 18px 20px;
  }
  .btn.-style__header {
    margin: 0 0 20px;
  }
  .header-content__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn {
    min-width: 170px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
    font-size: 1rem;
    margin: 20px;
  }
  .skills {
    padding: 20px;
  }
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__title {
    font-size: 24px;
    margin: 0 0 36px;
    text-align: center;
  }
  .posts-title {
    text-align: center;
  }
  .posts {
    padding-bottom: 60px;
  }
}
