.header-content {
  position: relative;

  &__title {
    letter-spacing: 0.08em;
    text-align: center;

    @include lg-min {
      margin: 0 0 53px;
    }

    @include lg {
      margin: 0 0 43px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;


    .btn:first-of-type {
      @media all and (min-width: $sm) {
        margin-right: $gap;
      }
    }    
  }

  &__container {
    padding: 0 20px;
  }
}

@media (max-width: 575.8px) {
  .header-content__buttons {
    flex-direction: column;
    align-items: center;
  }
  .btn {
    min-width: 170px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.05em;
    font-size: 1rem;
    margin: 20px;
  }
}
